#one {
    color: rgb(26, 3, 110);
}
.a:hover {
    color: rgb(187, 200, 70);
}
.b:hover {
    color: rgb(80, 160, 133);
}
.c:hover {
    color: rgb(79, 142, 205);
}
.d:hover {
    color: rgb(77, 198, 184);
}
.e:hover {
    color: rgb(192, 67, 194);
}


li::marker{
    content: "💜";
}