body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
} 
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    border-bottom: solid 1px black;
}

.user-details{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-details label{
    width: 95%;
    color: azure;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-details input{
    border-radius: 7px;
    outline: none;
    border: 1px solid gray;
    padding: 0 10px;
}